// out: false
.component_footer 			{ overflow:hidden; position: relative;
	.iconLogo 				{ position: relative; width:15vw; min-width:200px; height:auto; margin:0px auto; line-height: 0;
		svg 				{
			.st0 			{ fill:var(--secondary-color); }
			.st1 			{ fill:var(--primary-color); }
		}
		img 				{ position:absolute; top:75%; left:50%; .translate(-50%,-50%); width:3vw; min-width:40px; height:auto; }
	}
	.footerNavWrapper 		{ color:var(--white); background-color:var(--secondary-color); border-top: 1px solid var(--secondary-color); margin-top:-1px; padding:60px 0;
		.footerInner 		{ margin:0px auto; width:90vw; }
		.footerInfoblock 	{ text-align: center; margin:0px auto 60px auto; max-width:90vw; .flex-display(flex); .flex-direction(column); gap:10px;
			h4 				{ color:var(--primary-color); }
			.infoContent 	{ margin-top:15px; }
			.footerLinks 	{ margin-top:15px; }
		}

		@media (min-width: @screen-md-min)	{ padding:90px 0;
			.footerInner 	{ .flex-display(flex); .flex-wrap(wrap); width:80vw;
				.footerNav 	{ margin-left:auto; width:30%; }
			}
			.footerInfoblock 	{ max-width:60vw; }
		}
		@media (min-width: @screen-xl-min)	{
			.footerInfoblock 	{ max-width:50vw; }
		}
	}

	.footerAddress 			{
		.footerLogo 		{ width:100%; height:auto; max-width:20vw; min-width:200px; }
		address 			{ margin-left:3.5vw; margin-top:15px;}
	}

	.footerNav 				{ .flex-display(flex); .flex-direction(column); gap:15px; padding:30px 0;
		@media (min-width: @screen-md-min)	{ padding:60px 0; }
	}
	.footerMainmenu 		{ .flex-display(flex); .align-items(center); gap:10px; }
}

.socialLinks 	{ .flex-display(flex); .align-items(center); .justify-content(center); margin:15px 0; gap:15px; font-size: 24px;
	@media (min-width: @screen-md-min)	{ position: fixed; z-index: 999; top:30px; right:5vw; margin:0;
		i 	{ font-size:28px; }
	}
}

address 			{ .flex-display(flex); .flex-direction(column); gap:10px;
	.addressEntry 	{ .flex-display(flex); .align-items(center); gap:10px;
		.icon 		{ width:20px; }
		.label 		{ font-style: normal; }
	}
}
