<footer class="component_footer">
	<div class="iconLogo">
		<?xml version="1.0" encoding="utf-8"?>
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 331.3 80.5" style="enable-background:new 0 0 331.3 80.5;" xml:space="preserve">
			<g>
				<path class="st0" d="M325.5,80.4l-16.8-0.1c-0.9,0-1.8,0-2.7,0C239.7,79.4,225.9,0,170.7,0l-5.1,0h0h0l-5.1,0
					c-55.1,0-69,79.4-135.2,80.3c-0.9,0-1.8,0-2.7,0L5.8,80.4l-5.8,0l0,0h165.7h165.7l0,0L325.5,80.4z"/>
				<path class="st1" d="M306,80.3c0.9,0,1.8,0,2.7,0l16.8,0.1C249.6,79,234.3,0,185.1,0l0,0h-19.5l0,0l5.1,0
					C225.9,0,239.7,79.4,306,80.3z"/>
				<path class="st1" d="M25.4,80.3C91.6,79.4,105.5,0,160.6,0l5.1,0l0,0h-19.5l0,0C97,0,81.7,79,5.8,80.4l16.8-0.1
					C23.6,80.3,24.5,80.3,25.4,80.3z"/>
			</g>
		</svg>
		<img src="{{ sitebasics.logo_icon.url }}" alt="{{ sitebasics.logo_icon.alt }}" />
	</div>
	<div class="footerNavWrapper">

		<div class="footerInfoblock">
			{{ if sitebasics.oberueberschrift }}<h4>{{ sitebasics.oberueberschrift }}</h4>{{ /if }}
			{{ if sitebasics.ueberschrift }}<h2>{{ sitebasics.ueberschrift }}</h2>{{ /if }}
			{{ if sitebasics.untertitel }}<h3>{{ sitebasics.untertitel }}</h3>{{ /if }}
			{{ if sitebasics.info }}
			<div class="infoContent">
				{{ sitebasics.info }}
			</div>
			{{ /if }}
			{{ if sitebasics.footer_links }}
			<div class="footerLinks">
				{{ sitebasics.footer_links }}
					{{ partial:elements/button
						:url='footer_link_feld'
						:style='footer_style'
						:target='footer_zielseite'
						:icon='footer_icon'
						:text='footer_text'
					}}
				{{ /sitebasics.footer_links }}
			</div>
			{{ /if }}
		</div>

		<div class="footerInner">
			<div class="footerAddress">
				{{ if sitebasics.logo_footer }}
				<div class="footerLogo">
					<img src="{{ sitebasics.logo_footer.url }}" alt="{{ sitebasics.logo_footer.alt }}" />
				</div>
				{{ /if }}
				<address>
					{{ if sitebasics.strasse_hausnummer }}
					<div class="addressEntry streetNumber">
						{{ if sitebasics.icon_strasse }}<span class="icon">{{ sitebasics.icon_strasse }}</span>{{ /if }}
						<span class="label">
							{{ sitebasics.strasse_hausnummer }}
							/ {{ sitebasics.plz }} {{ sitebasics.ort }}
						</span>
					</div>
					{{ /if }}
					{{ if sitebasics.phone }}
					<div class="addressEntry phone">
						{{ if sitebasics.icon_phone }}<span class="icon">{{ sitebasics.icon_phone }}</span>{{ /if }}
						<span class="label">{{ sitebasics.phone }}</span>
					</div>
					{{ /if }}
					{{ if sitebasics.mobile }}
					<div class="addressEntry mobile">
						{{ if sitebasics.icon_mobile }}<span class="icon">{{ sitebasics.icon_mobile }}</span>{{ /if }}
						<span class="label">{{ sitebasics.mobile }}</span>
					</div>
					{{ /if }}
					{{ if sitebasics.email }}
					<div class="addressEntry email">
						{{ if sitebasics.icon_email }}<span class="icon">{{ sitebasics.icon_email}}</span>{{ /if }}
						<span class="label">{{ sitebasics.email }}</span>
					</div>
					{{ /if }}
				</address>
			</div>
			<div class="footerNav">
				{{ nav:footernav }}
					<a href="{{ url }}" class="footerMainmenu">{{ title }}</a>
				{{ /nav:footernav }}
			</div>
		</div>
		<div class="socialLinks">
			{{ if sitebasics.instagram }}<a href="{{ sitebasics.instagram }}" class="socialLink instagram" target="_blank"><i class="icofont-instagram"></i></a>{{ /if }}
			{{ if sitebasics.facebook }}<a href="{{ sitebasics.facebook }}" class="socialLink facebook" target="_blank"><i class="icofont-facebook"></i></a>{{ /if }}
			{{ if sitebasics.youtube }}<a href="{{ sitebasics.youtube }}" class="socialLink youtube" target="_blank"><i class="icofont-youtube"></i></a>{{ /if }}
			{{ if sitebasics.twitter }}<a href="{{ sitebasics.twitter }}" class="socialLink twitter" target="_blank"><i class="icofont-twitter"></i></a>{{ /if }}
			{{ if sitebasics.tiktok }}<a href="{{ sitebasics.tiktok }}" class="socialLink tiktok" target="_blank"><i class="icofont-tiktok"></i></a>{{ /if }}
		</div>
	</div>

</footer>
