<article id="paragraph{{ id }}" class="paragraph paragraph0 align-{{ inhaltsausrichtung }} {{ paragraph_class }}">
	<div class="container{{ full_width ? '-fluid' : '' }}">
		<div class="textMediabox">
			{{ image }}
			<div class="mediabox">
				<img src="{{ url }}" alt="{{ alt }}">
			</div>
			{{ /image }}
			<div class="textbox">
				<div class="inner">
					<div class="textboxLine"></div>
					{{ if abovetitle }}<{{ abovetitle_type }} class="abovetitle">{{ abovetitle }}</{{ abovetitle_type }}>{{ /if }}
					{{ if title }}<{{ headline_type }} class="headline">{{ title }}</{{ headline_type }}>{{ /if }}
					{{ if subtitle }}<{{ subtitle_type }} class="subtitle">{{ subtitle }}</{{ subtitle_type }}>{{ /if }}
					{{ if content }}<div class="content">{{ content }}</div>{{ /if }}
					{{ partial:elements/videoplayer }}
					{{ if links }}
						<div class="links">
							{{ links }}
								{{ partial:elements/button
									:url='button_link_feld'
									:style='button_style'
									:target='button_zielseite'
									:icon='button_icon'
									:text='button_text'
								}}
							{{ /links }}
						</div>
					{{ /if }}
				</div>
			</div>
		</div>
	</div>
</article>
