// out: false, sourcemap: false, compress: true
@import "_basics/normalize.less";
@import "_basics/webfont.less";
@import "_basics/icofont.less";
@import "_basics/colors.less";
@import "_basics/helpers.less";
@import "_basics/flexbox.less";
@import "_basics/grid.less";
@import "_basics/buttons.less";
@import "_basics/dropdowns.less";
@import "_basics/tooltip.less";
@import "_basics/forms.less";
@import "_basics/spinner.less";

/* Component-Styles */
@import "components/header.less";
@import "components/footer.less";
@import "components/popup.less";
@import "components/card.less";
@import "components/paragraphs.less";
/* End Component-Styles */

:root {
  --fontFamily: 'Inter', sans-serif;
}

/* CORE SETTINGS */
html 	        { padding:0; margin:0; font-family: var(--fontFamily); scroll-behavior:smooth; overflow-x: hidden; position:relative; min-height:100%; height:auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
body 	        { padding:0; margin:0; font-family: var(--fontFamily); min-height:100%; height:auto; line-height:1; font-size: clamp(14px,1.2vw,16px); }
main 	        { display: block; }
h1 		        { text-transform: uppercase; padding:0; margin:0; font-size: clamp(36px, 3.5vw, 66px); font-weight:900; }
h2 		        { text-transform: uppercase; padding:0; margin:0; font-size: clamp(24px, 2.5vw, 36px); font-weight:900; }
h3 		        { padding:0; margin:0; font-size: clamp(18px, 2.0vw, 24px); font-weight:bold; }
h4 		        { padding:0; margin:0; font-size: clamp(14px, 1.2vw, 18px); font-weight:bold; }
h5 		        { padding:0; margin:0; font-size: clamp(12px, 0.8vw, 16px); font-weight:normal; }
h6 		        { padding:0; margin:0; font-size: clamp(10px, 0.8vw, 12px); font-weight:normal; }
p 		        { padding:0; margin:0; line-height:1.6; display:block; }
.small          { font-size: clamp(12px, 0.6vw, 14px); }
.medium         { font-size: clamp(14px, 1.2vw, 18px); }
.medium20 		{ font-size: clamp(16px, 1.6vw, 20px); }
.large          { font-size: clamp(18px, 2.0vw, 32px); }
.xlarge         { font-size: clamp(36px, 3.5vw, 66px); }
.texthighlite   { display:inline-block; padding:0 5px; }
*               { -ms-overflow-style: none; scrollbar-width: none; }
*::-webkit-scrollbar { display: none; }

svg 			{ width: 100%; height: 100%; }

// Unordered lists

ul  { margin:0; padding:0;
	>li { list-style: none; position: relative; padding: 3px 0 2px 20px; line-height: 1.6;
		&:before { content: '•'; position: absolute; top: -11px; left: 0; font-size:40px; }
	}
}

.blogGrid { display: grid; grid-template-columns: 1fr 1fr 1fr; gap:30px; }


// Slider
.homeslider 		{ height:auto; width:100%; margin:0px; }
.herogallery 		{ height:100%; }
.swiperOverlay 		{ position: absolute; z-index:2; top:0; left:0; right:0; bottom:0; .gradientBgBlack; }
.slideParagraph 	{ width:100%; height:100%; .flex-display(flex);
	.textMediabox 	{ position: relative; height:100%; width:100%; }
	.mediabox 		{ .flex-display(flex); width:100%; height:auto;
		img 		{ object-fit: cover; }
		@media (max-width: @screen-sm-max)	{ aspect-ratio:4/3; }
		@media (min-width: @screen-md-min)	{ aspect-ratio:3/1; }
	}
	.textbox 		{ position: absolute; z-index:3; left:50%; top:50%; .translate(-50%,-50%); width:auto; max-width: 900px; text-align:center; }
	.aboveheadline 	{ .textshadow; }
	.headline 		{ .textshadow; margin-bottom:15px; }
	.subtitle 		{ .textshadow; margin-bottom:15px; }
	.content 		{ .textshadow; line-height: 1.6; margin:15px 0;}

	@media (min-width: @screen-sm-min)	{
		.headline 		{ font-size: clamp(30px,6vw,60px); }
	}
}
.swiper-buttons 		{ position: absolute; bottom:-1px; z-index:4; width:15vw; min-width:200px; height:auto; left:50%; .translateX(-50%); line-height: 0; .flex-display(flex); .align-items(center); .justify-content(center);
	svg 				{
		.st0 			{ fill:var(--white); }
		.st1 			{ fill:var(--primary-color); }
	}
	.swiper-button-prev,
	.swiper-button-next { position: absolute; top:50%; color:var(--secondary-color);
		&:after 		{ font-size:16px; }
	}
	.swiper-button-prev { left:35%; }
	.swiper-button-next { right:35%; }
	.swiper-button-divider { position: absolute; left:50%; .translateX(-50%); width:2px; height:24px; background-color:var(--primary-color); }
	@media (min-width: @screen-md-min)	{
		.swiper-button-prev,
		.swiper-button-next {
			&:after 		{ font-size:20px; }
		}
		.swiper-button-divider { height:30px; }
	}
}

.swiper-pagination-bullet-active { background:var(--primary-color); }


// hero
.heroOverlay 		{ position: absolute; z-index:2; top:0; left:0; right:0; bottom:0; .gradientBgBlack; }
.heroBottom 		{ position: absolute; bottom:-1px; z-index:4; width:15vw; min-width:200px; height:auto; left:50%; .translateX(-50%); line-height: 0; .flex-display(flex); .align-items(center); .justify-content(center);
	svg 			{
		.st0 		{ fill:var(--white); }
		.st1 		{ fill:var(--primary-color); }
	}
	.iconLogo 		{ position:absolute; top:75%; left:50%; .translate(-50%,-50%); width:3vw; min-width:40px; height:auto; }
}
.hero 				{ position:relative; z-index:0; color:var(--white); background-color:var(--black); width:100%; height:100%; .flex-display(flex);
	.textMediabox 	{ position: relative; height:100%; width:100%; }
	.mediabox 		{ .flex-display(flex); width:100%; height:auto;
		img 		{ object-fit: cover; }
		@media (max-width: @screen-sm-max)	{ aspect-ratio:4/3; }
		@media (min-width: @screen-md-min)	{ aspect-ratio:3/1; }
	}
	.textbox 		{ position: absolute; z-index:3; left:50%; top:50%; .translate(-50%,-50%); width:auto; max-width: 900px; text-align:center; }
	.aboveheadline 	{ .textshadow; color:var(--primary-color); }
	.headline 		{ .textshadow; margin-bottom:15px; }
	.subtitle 		{ .textshadow; margin-bottom:15px; }
	.content 		{ .textshadow; line-height: 1.6; margin:15px 0;}

	@media (min-width: @screen-sm-min)	{
		.headline 		{ font-size: clamp(30px,6vw,60px); }
	}
}


/* Filter - BOX */

.box-shadow2 {
	box-shadow: rgb(12, 12, 13) 0px 20px 30px -10px;
}


/* on scroll */
.headerBg 	{ position: fixed; top:-240px; height:60px; .bg-secondary; border-bottom:4px solid var(--primary-color); z-index:2; left:0; right:0; .opacity(0); .transition-smooth;
	@media (min-width: @screen-md-min)	{ height: 90px; }
}
.scrolled {
	.headerBg { top:0; .opacity(1); }
}
